*.pyc
*.pyo
app/backend/src/ucp/settings_local.py
app/backend/src/ucp/settings_build.py
app/frontend/node_modules/

.coverage
coverage.xml

.idea/
.DS_Store
/.Python

*.lock
.env

ci/dev/docker-compose.local.yml
dumps/
*.log